@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MIS CSS */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 500;
  margin-top: 24px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 12px;
  width: 75%;
}

img {
  height: 120px;
  border-radius: 8px;
}

.fieldTitle {
  font-weight: 600;
}

p {
  line-height: normal;
}
